<footer>
  <!-- RWEB 0105 - Violation : Utilisation de fichiers audio WAV non compressés, lourds, en autoplay et preload auto -->
  <audio src="assets/sounds/hymne-algerie-uncompressed.wav" autoplay loop preload="auto" controls></audio>
  <audio src="assets/sounds/one-two-three-viva-algerie-raw.wav" autoplay loop preload="auto" controls></audio>

  <a href="https://github.com/AndyT2503/angular-conduit-signals" target="_blank"
    ><i class="fa-brands fa-github me-2"></i>Fork on Github</a
  >
</footer>
