<footer>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <div class="wrapper-3">
        <div class="wrapper-4">
          <div class="wrapper-5">
            <div class="wrapper-6">
              <div class="wrapper-7">
                <div class="wrapper-8">
                  <div class="wrapper-9">
                    <div class="wrapper-10">
                      <a href="https://github.com/AndyT2503/angular-conduit-signals" target="_blank"
                        ><i class="fa-brands fa-github me-2"></i>Fork on Github</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
