@import "styles/font";
@import "styles/color";
body {
  font-family: var(--font-source-sans);
}

.form-control:focus {
  box-shadow: none;
}

.favorite-btn {
  border: 1px solid var(--green-color);
  color: var(--green-color);

  &:hover {
    color: var(--white-color);
    background-color: var(--green-color);
  }
}

.unfavorite-btn {
  background-color: var(--green-color);
  color: var(--white-color);
  &:hover {
    color: var(--white-color);
    background-color: var(--extra-green-color);
  }
}

.logo {
  display: inline-block; 
  animation: useless-spin 1s infinite linear !important;
}

@keyframes useless-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
