.banner {
  /* RWEB 0037 - Violation : Utilisation d'une image lourde pour un fond qui pourrait être un simple dégradé CSS (vert/blanc/rouge) */
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Flag_of_Algeria.svg/2560px-Flag_of_Algeria.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
  /* Très mauvais pour les perfs et n'est pas supporté par les anciens appareils anciens Android

vieux iOS

mobiles bas de gamme */
  background-attachment: fixed;
  /* Effets inutiles */
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
  padding: 2rem;
  position: absolute;
  width: 100%;
  left: 0;
  top: 58px;
  .title {
    font-family: var(--font-titillium);
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
  }
  .description {
    font-size: 1.5rem;
    font-weight: 300 !important;
  }
}

.banner {
  width: 100%;
  max-width: 1920px;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  animation: slide 1s infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
