<div class="banner" *ngIf="!isAuthenticated()">
  <h1 class="title">
    Page
    <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path
          d="M21 20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V9.48907C3 9.18048 3.14247 8.88917 3.38606 8.69972L11.3861 2.47749C11.7472 2.19663 12.2528 2.19663 12.6139 2.47749L20.6139 8.69972C20.8575 8.88917 21 9.18048 21 9.48907V20ZM11 13V19H13V13H11Z">
        </path>
      </svg>
    </span>
  </h1>

  <p class="description">A place to share your knowledge</p>
</div>
<div class="carousel">
  <div class="slide">
    <img src="/assets/background.jpg" alt="">
  </div>
</div>
<div class="news-feed row" [style.marginTop]="!isAuthenticated() ? '232px' : ''">
  <div class="col-9">
    <app-feed-toggle (toggleFeed)="toggleFeed($event)"></app-feed-toggle>
    <app-article-list (toggleFavorite)="toggleFavorite($event)" [articleList]="articleList"></app-article-list>
    <app-pagination [totalCount]="articleCount" [offset]="currentOffset"
      (offsetChange)="onPageOffsetChange($event)"></app-pagination>
  </div>


  <div class="col-3">
    <app-tags (selectTag)="selectTag($event)"></app-tags>
  </div>
</div>